{% extends 'layout/_main.html' %}

{% block content %}
<div class="main">
  <section class="section section-lg has-padding-top">
    <div class="container">
      <div class="page-title">
        <h1 class="headline-xl">Tea Categories</h1>
        <p class="page-title-description">Oolong Tea is attractive for its rich floral and fruity fragrance.<br> By visiting tea gardens.</p>
      </div>
    </div>
  </section>
  <section class="section section-xl">
    <div class="container">
      <div class="row">
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="single-cat.html" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="post.html">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'shared/_sub-footer.html' %}
</div>
{% endblock %}
