{% extends 'layout/_main.html' %}

{% block content %}
  <div class="main">
    <section class="section section-lg" style="margin-top: 90px;">
      <div class="container">
        <div class="row">
          <div class="col col-3 col--md-6 col--sm-12">
            <div class="card card-primary">
              <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
          <div class="col col-3 col--md-6 col--sm-12">
            <div class="card card-primary">
              <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
          <div class="col col-3 col--md-6 col--sm-12">
            <div class="card card-primary">
              <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
          <div class="col col-3 col--md-6 col--sm-12">
            <div class="card card-primary">
              <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row">
          <div class="col col-3">
            <div class="card card-secondary">
              <div class="card card-primary">
                <a href="#" class="card-image" style="background-image: url('https://www.girlfriend.com.au/media/16714/1000-cat-meme.jpg')"></a>
                <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
                <p class="card-content">Description</p>
              </div>
            </div>
          </div>
          <div class="col col-3">
            <div class="card card-secondary">
              <div class="card card-primary">
                <a href="#" class="card-image" style="background-image: url('https://www.girlfriend.com.au/media/16714/1000-cat-meme.jpg')"></a>
                <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
                <p class="card-content">Description</p>
              </div>
            </div>
          </div>
          <div class="col col-3">
            <div class="card card-secondary">
              <div class="card card-primary">
                <a href="#" class="card-image" style="background-image: url('https://www.girlfriend.com.au/media/16714/1000-cat-meme.jpg')"></a>
                <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
                <p class="card-content">Description</p>
              </div>
            </div>
          </div>
          <div class="col col-3">
            <div class="card card-secondary">
              <div class="card card-primary">
                <a href="#" class="card-image" style="background-image: url('https://www.girlfriend.com.au/media/16714/1000-cat-meme.jpg')"></a>
                <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
                <p class="card-content">Description</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div style="height: 1000px"></div>
{% endblock %}
