{% extends 'layout/_main.html' %}

{% block content %}
  <div class="main">
    <div class="section section-sm">
      <div class="container container-full">
        <div id="carousel-home" class="carousel">
          <div class="carousel-items">
            <a href="#"><img src="https://www.mezz.nl/assets/uploads/2018/12/edward-cisneros-411006-unsplash-1440x534-c-top.jpg" alt=""></a>
            <a href="#"><img src="https://www.mezz.nl/assets/uploads/2018/12/edward-cisneros-411006-unsplash-1440x534-c-top.jpg" alt=""></a>
            <a href="#"><img src="https://www.mezz.nl/assets/uploads/2018/12/edward-cisneros-411006-unsplash-1440x534-c-top.jpg" alt=""></a>
          </div>
          <button class="carousel-prev js-carousel-prev"></button>
          <button class="carousel-next js-carousel-next"></button>
        </div>
      </div>
    </div>
    <section class="section-lg">
      <div class="container">
        <div class="row">
          <div class="col col-3">
            <div class="sidebar sidebar-overlap">
              <h3 class="sidebar-header headline">Category</h3>
              <div class="sidebar-body">
                <div class="sidebar-block">
                  <a href="#" class="sidebar-lead">Tea</a>
                  <ul class="sidebar-list">
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                  </ul>
                </div>
                <div class="sidebar-block">
                  <a href="#" class="sidebar-lead">Tea</a>
                  <ul class="sidebar-list">
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                  </ul>
                </div>
                <div class="sidebar-block">
                  <a href="#" class="sidebar-lead">Tea</a>
                  <ul class="sidebar-list">
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                    <li class="sidebar-list-item"><a href="#">Tra sua</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-3">
            <div class="thumbnail" style="background-image: url(https://i.pinimg.com/originals/50/e0/29/50e029e29f091b92a0b816ce7277614e.jpg)"></div>
          </div>
          <div class="col col-3">
            <div class="thumbnail" style="background-image: url(https://i.pinimg.com/originals/4e/1e/e8/4e1ee8009d4ead402d03a2cc4e6d1604.jpg)"></div>
          </div>
          <div class="col col-3">
            <div class="thumbnail" style="background-image: url(https://photo-3-baomoi.zadn.vn/w1000_r1/2018_03_12_287_25237676/65a843ea80ac69f230bd.jpg)"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row">
          <div class="col col-3 col--md-6 col--sm-12">
            <div class="card card-primary">
              <a href="post.html" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
              <div class="card-body">
                <h3 class="card-headline headline"><a href="post.html">Premium Dragon Well Long Jing Green Tea</a></h3>
                <p class="card-content">Chestnut aroma, durable infusions</p>
                <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
              </div>
            </div>
          </div>
          <div class="col col-3 col--md-6 col--sm-12">
            <div class="card card-primary">
              <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
              <div class="card-body">
                <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
                <p class="card-content">Chestnut aroma, durable infusions</p>
                <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
              </div>
            </div>
          </div>
          <div class="col col-3 col--md-6 col--sm-12">
            <div class="card card-primary">
              <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
              <div class="card-body">
                <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
                <p class="card-content">Chestnut aroma, durable infusions</p>
                <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
              </div>
            </div>
          </div>
          <div class="col col-3 col--md-6 col--sm-12">
            <div class="card card-primary">
              <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
              <div class="card-body">
                <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
                <p class="card-content">Chestnut aroma, durable infusions</p>
                <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row">
          <div class="col col-3">
            <div class="card card-secondary">
              <div class="card card-primary">
                <a href="#" class="card-image" style="background-image: url('https://www.girlfriend.com.au/media/16714/1000-cat-meme.jpg')"></a>
                <div class="card-body">
                  <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
                  <p class="card-content">Description</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-3">
            <div class="card card-secondary">
              <div class="card card-primary">
                <a href="#" class="card-image" style="background-image: url('https://www.girlfriend.com.au/media/16714/1000-cat-meme.jpg')"></a>
                <div class="card-body">
                  <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
                  <p class="card-content">Description</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-3">
            <div class="card card-secondary">
              <div class="card card-primary">
                <a href="#" class="card-image" style="background-image: url('https://www.girlfriend.com.au/media/16714/1000-cat-meme.jpg')"></a>
                <div class="card-body">
                  <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
                  <p class="card-content">Description</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-3">
            <div class="card card-secondary">
              <div class="card card-primary">
                <a href="#" class="card-image" style="background-image: url('https://www.girlfriend.com.au/media/16714/1000-cat-meme.jpg')"></a>
                <div class="card-body">
                  <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
                  <p class="card-content">Description</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="card card-tertiary">
          <a href="#" class="card-image" style="background-image: url('https://i.ytimg.com/vi/Yj7ja6BANLM/maxresdefault.jpg')"></a>
          <div class="card-body">
            <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
            <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="card-description">19 May 2017</p>
          </div>
        </div>
        <div class="card card-tertiary">
          <a href="#" class="card-image" style="background-image: url('https://i.ytimg.com/vi/Yj7ja6BANLM/maxresdefault.jpg')"></a>
          <div class="card-body">
            <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
            <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="card-description">19 May 2017</p>
          </div>
        </div>
        <div class="card card-tertiary">
          <a href="#" class="card-image" style="background-image: url('https://i.ytimg.com/vi/Yj7ja6BANLM/maxresdefault.jpg')"></a>
          <div class="card-body">
            <h3 class="card-headline headline"><a href="#">How to drink Tea</a></h3>
            <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="card-description">19 May 2017</p>
          </div>
        </div>
      </div>
    </section>
    {% include 'shared/_sub-footer.html' %}
  </div>
{% endblock %}
