{% extends 'layout/_main.html' %}

{% block content %}
<div class="main">
  <section class="section section-lg has-padding-top-lg">
    <div class="container">
      <div class="row">
        <div class="col col-3">
          <h1 class="headline-xl">Trà Oolong đen Thái Nguyên</h1>
        </div>
        <div class="col col-7 col-offset-1">
          <p>Oolong Tea is attractive for its rich floral and fruity fragrance. By visiting tea gardens, we carefully select several kinds of great Oolong Teas (including Fujian Wulong, Taiwan Wulong, Guangdong Wulong, etc.) Variety in light Oolongs and roasted Oolongs.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="container container-full">
      <div class="category-hero" style="background-image: url(https://images.squarespace-cdn.com/content/56db8e5fcf80a1b2c9a51c8d/1506543949264-BJHGEVOIH7OH38ZMVO78/Electric-Lit-GIF-Alix-Farren.gif?format=1000w&content-type=image%2Fgif)"></div>
    </div>
  </section>
  <section class="section section-xl">
    <div class="container">
      <div class="row">
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="post.html" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="post.html">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
        <div class="col col-3 col--md-6 col--sm-12">
          <div class="card card-primary">
            <a href="#" class="card-image" style="background-image: url('https://gracetea.com/media/wysiwyg/history-1000x667.jpg')"></a>
            <div class="card-body">
              <h3 class="card-headline headline"><a href="#">Premium Dragon Well Long Jing Green Tea</a></h3>
              <p class="card-content">Chestnut aroma, durable infusions</p>
              <p class="card-price">$ Price tag <span class="card-description">/ Net weight (OZ)</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% include 'shared/_sub-footer.html' %}
</div>
{% endblock %}
