.banner {
  background-color: $analogous-color;
  padding: 24px 24px 32px;

  @include mediaquery--sm() {
    margin-left: -16px;
    margin-right: -16px;
  }

  .banner-title,
  .banner-text,
  .banner-price {
    margin-bottom: 16px;
  }

  .banner-info {
    color: $gray-color;
    margin-bottom: 24px;
    font-size: $font-size-sm;
  }

  &.banner-overlap {
    @include mediaquery--not-sm() {
      margin-top: -280px;
      position: relative;
    }

    @include mediaquery--md() {
      margin-top: -200px;
    }
  }
}
