.btn {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  line-height: $line-height-zero;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
  outline: none;
  cursor: pointer;
  transition: all .3s ease;
  border: 0;

  &.btn-primary {
    background-color: $light-salmon-color;
    color: $dark-color;
    width: 100%;
  }

  &.btn-search {
    width: 20px;
    height: 20px;
    padding: 0;
    background: url("../img/ico_search.png") center / 100% no-repeat;

    &.is-active {
      background: url("../img/ico_close.png") center / 100% no-repeat;
    }
  }

  &.w-276 {
    max-width: 100%;
    width: 276px;
  }
}
