.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 12px 12px;
  font-weight: $font-weight-normal;
  font-size: $font-size-base;
  line-height: $line-height-zero;

  &-primary {
    background-color: $red-color;
    color: $light-color;
    width: 100%;

    &:hover {
      background-color: darken($primary-color, 3%);
    }
  }
}
