.carousel {
  position: relative;
  display: none;

  .carousel-img {
    display: block;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
    height: 560px;

    @include mediaquery--sm() {
      height: 320px;
    }
  }

  .carousel-thumbnails {
    margin-top: 24px;
  }

  .carousel-prev,
  .carousel-next {
    @include y-centered();
    width: 56px;
    height: 56px;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .carousel-prev {
    left: 0;
    background: $light-color url("../img/ico_arrow-left.png") center / 24px 24px no-repeat;
  }

  .carousel-next {
    right: 0;
    background: $light-color url("../img/ico_arrow-right.png") center / 24px 24px no-repeat;
  }

  .carousel-dots {
    @include x-centered();
    bottom: 24px;
    font-size: 0;
    z-index: 10;

    span {
      width: 32px;
      height: 4px;
      display: inline-block;
      background-color: $gray-color;
      border-radius: 4px;
      cursor: pointer;

      + span {
        margin-left: 8px;
      }

      &.active {
        background-color: $light-color;
      }
    }
  }
}
