.card {
  &:not(.card-quaternary) {
    .card-image {
      @include bg-center();
    }
  }

  .card-image {
    display: block;
  }

  .card-content,
  .card-price {
    margin-top: 12px;
  }

  .card-content + .card-description {
    margin-top: 12px;
  }

  .card-price,
  .card-description {
    font-size: $font-size-sm;
  }

  .card-price {
    font-weight: bold;
  }

  .card-description {
    color: $gray-color;
    font-weight: normal;
  }

  &.card-primary,
  &.card-secondary {
    .card-image {
      height: 320px;
    }
  }

  &.card-primary {
    .card-body {
      padding-top: 24px;
    }
  }

  &.card-secondary,
  &.card-quaternary {


    .card-body {
      padding-top: 16px;
    }

    .card-headline,
    .card-content {
      text-align: center;
    }
  }

  &.card-secondary {
    padding: 16px 16px 36px 16px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
  }

  &.card-tertiary {
    @include flexbox(flex-start, flex-start);

    .card-body {
      padding: 24px;
      width: 616px;
      max-width: 100%;
    }

    .card-image {
      width: 368px;
      height: 160px;
    }

    + .card-tertiary {
      margin-top: 32px;
    }
  }

  &.card-quaternary {
    .card-image {
      width: 64px;
      height: 64px;
      margin: 0 auto;
    }
  }
}

[class^='col'] + [class^='col']:nth-child(n + 5) .card-primary {
  margin-top: 48px;
}

[class^='col'] + [class^='col']:nth-child(n + 3) .card-primary {
  @include mediaquery--md() {
    margin-top: 40px;
  }
}

[class^='col'] + [class^='col']:nth-child(n + 2) .card-primary {
  @include mediaquery--sm() {
    margin-top: 40px;
  }
}

[class^='col'] + [class^='col']:nth-child(n + 3) .card-quaternary {
  @include mediaquery--sm() {
    margin-top: 48px;
  }
}

[class^='col'] + [class^='col']:nth-child(n + 2) .card-secondary {
  @include mediaquery--sm() {
    margin-top: 32px;
  }
}

[class^='col'] + [class^='col']:nth-child(n + 3) .card-secondary {
  @include mediaquery--md() {
    margin-top: 32px;
  }
}
