.card {
  background-color: $light-color;

  &-image {
    height: 320px;
    background-size: cover;
    background-position: center;
    display: block;
  }

  &-content,
  &-price {
    margin-top: 12px;
  }

  &-price,
  &-description {
    font-size: $font-size-sm;
  }

  &-price {
    font-weight: bold;
  }

  &-description {
    color: $gray-color;
    font-weight: normal;
  }

  &.card-primary {
    .card-headline {
      margin-top: 24px;
    }
  }

  &.card-secondary {
    padding: 16px 16px 36px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);

    .card-headline {
      margin-top: 16px;
    }

    .card-headline,
    .card-content {
      text-align: center;
    }
  }
}
