.card {
  &-image {
    @include bg-center();
    display: block;
  }

  &-content,
  &-price {
    margin-top: 12px;
  }

  &-content + &-description {
    margin-top: 12px;
  }

  &-price,
  &-description {
    font-size: $font-size-sm;
  }

  &-price {
    font-weight: bold;
  }

  &-description {
    color: $gray-color;
    font-weight: normal;
  }

  &.card-primary,
  &.card-secondary {
    .card-image {
      height: 320px;
    }
  }

  &.card-primary {
    .card-body {
      padding-top: 24px;
    }
  }

  &.card-secondary,
  &.card-quaternary {
    padding-left: 16px;
    padding-right: 16px;

    .card-body {
      padding-top: 16px;
    }

    .card-headline,
    .card-content {
      text-align: center;
    }
  }

  &.card-secondary {
    padding-top: 16px;
    padding-bottom: 36px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .1);
  }

  &.card-tertiary {
    @include flexbox(flex-start, flex-start);

    .card-body {
      padding: 24px;
      width: 616px;
      max-width: 100%;
    }

    .card-image {
      width: 368px;
      height: 160px;
    }

    + .card-tertiary {
      margin-top: 32px;
    }
  }

  &.card-quaternary {
    .card-image {
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }
  }
}
