.content {
  max-width: 680px;
  margin: 0 auto;

  .content-title {
    font-weight: bold;
    font-family: $base-heading;

    &.content-title-sm {
      font-size: $font-size-sm;
      margin-bottom: 16px;
    }

    &.content-title-lg {
      @include font-size-headline-lg;
      margin-bottom: 24px;
    }

    &.content-title-xl {
      @include font-size-headline-xl;
      text-align: center;
    }
  }

  .content-text {
    p + p {
      margin-top: 16px
    }
  }

  .content-text + .content-text {
    margin-top: 16px
  }

  .content-block + .content-block {
    margin-top: 24px;
  }
}
