.dropdown {
  @include mediaquery--not-lg() {
    background: url("../img/ico_plus.png") right center / 24px 24px no-repeat;
  }

  @include mediaquery--lg() {
    &:hover {
      .dropdown-menu {
        display: flex;
        opacity: 0;
        animation: fadeInDown .3s ease-in-out forwards;
      }
    }
  }

  .dropdown-menu {
    background: $white-smoke-color url("../img/bg_menu.png") center / cover;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 24px 16px;
    display: none;

    @include mediaquery--lg() {
      width: 100vw;
      margin-left: calc(-50vw + 50%);
    }

    @include mediaquery--not-lg() {
      position: relative;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      justify-content: flex-start;
      margin-left: -16px;
      margin-top: 12px;
      width: calc(100% + 32px);
    }
  }

  .dropdown-list {
    width: calc(100% / 8);
    text-align: center;

    @include mediaquery--not-lg() {
      min-width: 112px;
    }

    + .dropdown-list {
      @include mediaquery--not-lg() {
        margin-left: 24px;
      }
    }

    a {
      font-size: $font-size-sm;
      font-weight: bold;
    }

    img {
      display: block;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 16px;
      width: 100px;
      height: 100px;
      padding-right: 0 !important;
    }
  }

  &.is-active {
    @include mediaquery--not-lg() {
      background: url("../img/ico_minus.png") right 4px / 24px 24px no-repeat;
    }

    .dropdown-menu {
      display: flex;
    }
  }
}
