.footer {
  .footer-global-nav {
    padding-top: 80px;
    padding-bottom: 48px;
    border-bottom: 1px solid $pink-color;

    @include mediaquery--not-lg() {
      padding: 40px 0;
    }

    .col--sm-12 + .col--sm-12 {
      @include mediaquery--sm() {
        margin-top: 24px;
      }

      &:nth-child(3) {
        @include mediaquery--not-lg() {
          margin-top: 24px;
        }
      }
    }
  }

  .footer-copyright {
    @include font-size-body();
    @include flexbox(space-between, center);
    padding-top: 24px;
    padding-bottom: 24px;

    @include mediaquery--sm() {
      display: block;
      text-align: center;
    }

    p {
      @include mediaquery--sm() {
        margin-bottom: 16px;
      }
    }
  }

  .footer-nav,
  .footer-social {
    @include flexbox(flex-start, flex-start);
  }

  .footer-nav {
    @include mediaquery--sm() {
      flex-wrap: wrap;
    }
  }

  .footer-social {
    @include mediaquery--sm() {
      text-align: center;
      display: inline-block;
    }

    a {
      img {
        width: 24px;
        height: 24px;
      }

      + a {
        margin-left: 24px;
      }
    }
  }

  .footer-link-list {
    flex: 1;

    @include mediaquery--sm() {
      flex: auto;
      width: 50%;
    }

    &:nth-child(n + 3) {
      @include mediaquery--sm() {
        margin-top: 24px;
      }
    }

    .footer-link-list-item {
      &:first-child {
        @include font-size-headline--sm();
        margin-bottom: 16px;
      }
    }

    + .footer-link-list {
      margin-left: 40px;

      @include mediaquery--sm() {
        margin-left: 0;
      }
    }
  }
}
