[class*='headline'] {
  font-weight: bold;
  font-family: $base-heading;
}

.headline-xxl,
.headline-xl {
  @include font-size-headline-xl();
}

.headline-xxl {
  font-size: 72px;
}

.headline-xl {
  font-size: 32px;
}

.headline-lg {
  @include font-size-headline-lg();
}

.headline {
  @include font-size-headline();
}
