[class*='headline'] {
  font-weight: bold;
  font-family: $base-heading;

  &.is-accident > p {
    @include font-size-headline-xl();
  }

  &.is-list-category {
    margin-bottom: 40px;

    @include mediaquery--sm() {
      margin-bottom: 24px;
    }
  }
}

.headline-xl {
  @include font-size-headline-xl();
}

.headline-lg {
  @include font-size-headline-lg();
}

.headline {
  @include font-size-headline();
}
