.header {
  background-color: $light-color;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
}

.navbar {
  @include flexbox(space-between, center);
  position: relative;

  .navbar-brand {
    @include x-centered();
    top: 16px;

    img {
      width: 96px;
      height: 96px;
    }
  }

  .navbar-list {
    @include flexbox(flex-start, flex-start);
  }

  .navbar-list-item {
    padding-top: 32px;
    padding-bottom: 32px;

    > a {
      font-weight: bold;
      font-size: $font-size-sm;
    }

    + .navbar-list-item {
      margin-left: 24px;
    }
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
