%form-control {
  appearance: none;
  background-color: $light-color;
  border: 0;
  border-bottom: 1px solid $gray-color;
  display: block;
  font-size: $font-size-base;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.form-input {
  @extend %form-control;

  .form-input-md {
    width: 253px;
  }

  &.search-box {
    background: url(../img/ico_search.png) left center / 16px 16px no-repeat;
    padding-left: 24px;
    padding-right: 24px;
  }
}
