%form-control {
  appearance: none;
  background-color: $light-color;
  border: 0;
  border-bottom: 1px solid $gray-color;
  display: block;
  font-size: $font-size-base;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.form-input {
  @extend %form-control;

  &-md {
    width: 253px;
  }

  &.search-box {
    padding-left: 24px;
    padding-right: 24px;
  }
}
