%form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $light-color;
  border: 0;
  border-bottom: 1px solid $gray-color;
  display: block;
  font-size: $font-size-base;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.form-input {
  @extend %form-control;

  &.form-input-md {
    width: 250px;

    @include mediaquery--not-lg() {
      width: calc(100vw - 36px);
    }
  }

  &.search-box {
    padding-right: 24px;

    @include mediaquery--not-lg() {
      padding-left: 24px;
      height: 56px;
      border: 0;
    }

  }
}
