.list-image {
  @include flexbox(flex-start, flex-start);

  @include mediaquery--sm() {
    align-items: center;
    margin-left: -16px;
    margin-right: -16px;
    padding-left:  16px;
    overflow-x: scroll;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
  }

  img {
    vertical-align: middle;
  }

  .list-image-item {
    width: 112px;
    background-size: cover;
    background-position: center center;
    display: block;

    @include mediaquery--sm() {
      min-width: 64px;
    }

    &:after {
      content:'';
      display: block;
      padding-bottom: 100%;
    }

    &.is-active {
      border: 5px solid $light-salmon-color;
    }
  }

  .list-image-item + .list-image-item {
    margin-left: 24px;
  }
}


.list-description {
  .list-description-item {
    @include flexbox(flex-start, flex-start);

    + .list-description-item {
      margin-top: 24px;
    }
  }

  .list-description-label {
    font-size: $font-size-sm;
    font-weight: bold;
    width: 200px;

    @include mediaquery--sm() {
      width: 130px;
    }
  }

  .list-description-body {
    width: calc(100% - 200px);

    @include mediaquery--sm() {
      width: calc(100% - 130px);
    }
  }
}

.list-infomation {
  @include mediaquery--sm() {
    margin-bottom: 24px;
  }

  li {
    background-size: 32px 32px;
    background-position: left;
    background-repeat: no-repeat;
    padding: 4px 0 4px 48px;

    @for $i from 1 through length($group-ico) {
      &:nth-child(#{$i}) {
        $j : nth($group-ico, $i);
        background-image: url('../img/#{$j}.png');
      }
    }

    + li {
      margin-top: 16px;
    }
    // Test Func Scss
    // @for $i from 1 through length($group-ico) {
    //   &:nth-child(#{$i}) {
    //     @each $iconsName in $group-ico{
    //       $j : index($group-ico, $iconsName);
    //       @if($j == $i) {
    //         background-image: url('../img/#{$iconsName}.png');
    //       }
    //     }
    //   }
    // }
  }
}
