.post {
  .post-image {
    margin-bottom: 32px;
  }

  .content {
    margin-bottom: 24px;
  }

  .post-thumbnail {
    margin-bottom: 40px;

    &.is-many {
      .col + .col:nth-child(n + 3) {
        margin-top: 24px;
      }
    }

    .col + .col {
      @include mediaquery--sm() {
        margin-top: 24px;
      }
    }
  }

  .post-caption {
    width: 468px;
    max-width: 100%;
    margin: 0 auto 32px;
    color: $silver-color;
    text-align: center;
  }

  img {
    width: 100%;
    vertical-align: middle;
  }

  // Modify editor style
  h1,
  h2,
  h3,
  h4 {
    font-family: $base-heading;
    font-weight: bold;
  }

  h2 {
    @include font-size-headline-lg;
    margin-bottom: 32px;
  }

  h3,
  h4 {
    @include font-size-headline;
    margin-bottom: 16px;
  }

  figure {
    margin-bottom: 32px;

    figcaption {
      max-width: 468px;
      margin: 0 auto;
      color: $silver-color;
      text-align: center;
    }
  }

  .wp-block-image {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 24px;
  }
}
