.post {
  .post-image {
    margin-bottom: 48px;
  }

  .content {
    margin-bottom: 24px;
  }

  .post-thumbnail {
    margin-bottom: 40px;

    &.is-many {
      .col + .col:nth-child(n + 3) {
        margin-top: 24px;
      }
    }

    .col + .col {
      @include mediaquery--sm() {
        margin-top: 24px;
      }
    }
  }

  .post-caption {
    width: 468px;
    max-width: 100%;
    margin: 0 auto 32px;
    color: $silver-color;
    text-align: center;
  }

  img {
    width: 100%;
    vertical-align: middle;
  }
}
