.sidebar {
  &-header {
    background-color: $light-salmon-color;
    padding: 16px;
    color: $light-color;
  }

  &-body {
    background-color: $white-smoke-color;
    padding: 24px 16px;
    height: 556px;
  }

  &-lead {
    @include font-size-headline--sm();
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid $light-salmon-color;
    display: block;
  }

  .sidebar-list {
    @include flexbox(flex-start, flex-start);
    flex-wrap: wrap;

    .sidebar-list-item {
      width: 50%;
      @include font-size-body();

      &:nth-child(n + 3) {
        margin-top: 8px;
      }
    }
  }

  .sidebar-block + .sidebar-block {
    margin-top: 24px;
  }

  &.sidebar-overlap {
    margin-top: -85px;
    position: relative;
  }
}
