@mixin font-size-headline-xl() {
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.48px;
  font-weight: 700;
  font-family: $base-heading;

}

@mixin font-size-headline-lg() {
  font-size: 24px;
  line-height: 1.33334;
  letter-spacing: -0.36px;
  font-weight: 700;
  font-family: $base-heading;
}

@mixin font-size-headline() {
  font-size: 18px;
  line-height: 1.33334;
  letter-spacing: -0.27px;
  font-weight: 700;
  font-family: $base-heading;
}

@mixin font-size-headline--sm() {
  font-size: 14px;
  line-height: 1.142;
  font-weight: 700;
  font-family: $base-heading;
}

@mixin font-size-body() {
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0;
}
