html {
  text-size-adjust: 100%;
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-feature-settings: 'palt';
  font-weight: $body-font-weight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: $body-line-height;
  letter-spacing: $body-spacing;
  color: $body-font-color;
  background-color: $light-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $dark-color;
}

.separator {
  height: 1px;
  background-color: $gainsboro-color;
}

.thumbnail,
.category-hero {
  @include bg-center();
}

.thumbnail {
  height: 524px;
  display: block;
}

.category-title,
.category-hero {
  height: calc((100vh / 2) - 33px);
}

.category-title {
  @include flexbox(flex-start, center);

  @include mediaquery--not-lg {
    @include flexbox(center, center);
    flex-direction: column;
  }

  .category-title-lead {
    @include mediaquery--not-lg {
      margin-bottom: 16px;
    }
  }
}

.page-title {
  text-align: center;

  .page-title-description {
    @include font-size-body();
    margin: 16px auto 0;
    max-width: 538px;
  }
}
