// Core corlor
$primary-color: #439aff !default;
$warning-color: #fc9f00 !default;
$danger-color: #fc4e5c !default;

// Gray color
$light-color: #fff !default;
$dark-color: #252525 !default;
$gray-color: #a7a7a7 !default;
$white-smoke-color: #f7f7f7;
$pink-color: #ffd1d3;
$red-color: #e06c70;
$analogous-color: #f3f3f3;
$gainsboro-color: #d8d8d8;
$silver-color: #a6a6a6;
$light-salmon-color: #ffa88c;
$body-font-color: $dark-color !default;
