// Core corlor
$primary-color: #439aff !default;
$warning-color: #fc9f00 !default;
$danger-color: #fc4e5c !default;

// Gray color
$light-color: #fff !default;
$dark-color: #252525 !default;
$gray-color: #a7a7a7 !default;
$body-font-color: $dark-color !default;
