// Z-index
$zindex-base: 3 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;

// Border radius
$radius: 4px !default;
$radius-circle: 50% !default;

// Letter spacing
$body-spacing: .04rem !default;
$group-ico: ('ico_cup', 'ico_candle', 'ico_leaves', 'ico_clock');

// Base
.u-hidden {
  display: none !important;
}

.u-text-center {
  text-align: center;
}

.u-text-sm {
  font-size: $font-size-sm;
}

.u-text-bold  {
  font-weight: bold;
}

.u-mb-16 {
  margin-bottom: 16px;
}

.u-mb-24 {
  margin-bottom: 16px;
}

.u-mt-16 {
  margin-top: 16px;
}

.u-mt-24 {
  margin-top: 24px;
}

.u-mt-40 {
  margin-top: 40px;
}

.u-mt-56 {
  margin-top: 56px;
}
