// Z-index
$zindex-base: 3 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;

// Border radius
$radius: 4px !default;
$radius-circle: 50% !default;

// Letter spacing
$body-spacing: .04rem !default;
