.section {
  &-sm {
    > [class^='container'] {
      padding-bottom: 32px;
    }
  }

  &-lg {
    > [class^='container'] {
      padding-bottom: 80px;
    }
  }
}

.section-balance {
  > [class^='container'] {
    padding-bottom: 80px;
    padding-top: 80px;
  }
}

.section-gray {
  background-color: $white-smoke-color;
}
