.section {
  &.section-xl {
    > [class^='container'] {
      padding-bottom: 120px;

      @include mediaquery--sm() {
        padding-bottom: 56px;
      }
    }
  }

  &.section-lg {
    > [class^='container'] {
      padding-bottom: 80px;

      @include mediaquery--sm() {
        padding-bottom: 44px;
      }
    }
  }

  &.section-md {
    > [class^='container'] {
      padding-bottom: 56px;
    }
  }

  &.section-sm {
    > [class^='container'] {
      padding-bottom: 32px;
    }
  }

  &.section-xs {
    > [class^='container'] {
      padding-bottom: 24px;
    }
  }

  &.has-no-padding {
    > [class^='container'] {
      padding-bottom: 0;
    }
  }

  &.has-padding-top {
    > [class^='container'] {
      padding-top: 64px;
    }
  }
}

.section-balance {
  > [class^='container'] {
    padding-bottom: 80px;
    padding-top: 80px;

    @include mediaquery--sm() {
      padding-bottom: 24px;
      padding-top: 24px;
    }
  }
}

.section-headline {
  text-align: center;

  > [class^='container'] {
    padding-bottom: 48px;
  }
}

.section-gray {
  background-color: $white-smoke-color;
}

.section-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
